/*웹 폰트 선언*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



/*디자인 시작시 전역 설정*/
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    
}

body,html{      
    font-family: 'Jua', sans-serif;
    width: 100%;
    min-width: 320px; /*body영역의 최소사이즈*/
}

img{
    max-width: 100%; /*사이즈가 변해도 넓이는 유지*/
    height: auto; /*사이즈가 변하면 높이는 넓이에 따라서 유지*/
}

input,textarea,button,select{
    /*
    고유하게 적용되어 있는  form관련 요소들을 제거해서,
    여러 브라워에서 동일한  form관련 태그 디자인이 보이도록 처리
    */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    -o-appearance: none;
    appearance: none;
}

ul,li,ol,dl{
    list-style: none;
}

.my-header {
    background-color: rgb(36, 33, 33);
    position: fixed; top :0; left: 0;
    width: 100%;
    z-index: 50;
}

