/*================헤더영역=================*/
.my-header {
    background-color: rgb(36, 33, 33);
    position: fixed; top :0; left: 0;
    width: 100%;
    z-index: 50;
}

section{
    margin-top:50px;
}

.form-control , .btn{border-radius: 0;}

.my-header a {
    color: darkorange;
    margin: 0 auto;
}
.navbar{margin-bottom: 0;}
.navbar-brand{padding: 10px 15px;}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: rgb(255, 208, 151);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:rgb(255, 208, 151); ;
} 
/*토글메뉴 아이콘 색상*/
.navbar-toggle .icon-bar+.icon-bar , .navbar-toggle .icon-bar{
    background-color: darkorange;
}
/*토글메뉴 안 로그인메뉴 텍스트 색상*/
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{
    color: darkorange;
}
.navbar-toggle{
    border: 1px solid darkorange;
}

footer .footer-menu{
    text-align: right;
    padding: 10px 0;
}

footer .footer-menu li{
    display: inline-block;    
    text-decoration: none;
    color: royalblue;
    padding:0px 20px ;
}

footer{
    background-color: rgb(36, 33, 33);
    color: wheat;
    font-size: 15px;  
    padding: 20px ;
    margin-top:70px ;
}
/*=================배너영역================*/
.my-banner{
    margin-top: 50px;
}

.footer-copyright address{margin: 0;}

/*배너영역*/
/* 슬라이더 양쪽의 그라데이션 지우기 */
.carousel-control.right ,.carousel-control.left{
    background-image: 
    linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    
}

.prod-list , .prod-box{
    display: block;
    border: 1px solid rgb(182, 182, 182);
    box-sizing: border-box;
    text-align: center;/*블럭 , 텍스트 요소의 가운데정렬*/
}
.prod-list,.prod-list>li{
    padding: 5px;
}


.prod-box{position: relative;}/*이 블록을 기반으로 position : absolute*/

.prod-box .arrow{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: absolute; /*위치 기반으로 올릴 부모클래스에 relative*/
    bottom: 15px; left: 15px;
    background-color: #ccc;
    color: white;
    opacity: 1;   
}

.prod-box .hover{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    position: absolute; /*위치 기반으로 올릴 부모클래스에 relative*/
    bottom: 15px; left: 15px;
    background-color: rgb(50, 96, 245);
    color: white;   
    text-align: center;
    opacity: 0; /*투명도 0~1*/
}

.prod-box:hover>.arrow{
    opacity:0;
}
.prod-box:hover>.hover{
    opacity:1;    
}

.prod-box:hover{
    border: 1px solid  rgb(50, 96, 245);
    box-sizing: border-box;
}

/*=========================================================*/

.prod-content{
    overflow: hidden;
    padding: 20px 0;
}

.prod-info span{

    display: block;    
}

.prod-info{
    float: left;
}
.prod-content .prod-price{   
    
    float: right;

}
.prod-image{
    text-align: center;
}

.prod-color ul{
    overflow: hidden;
}
.prod-color ul li{    
    float: left;
}

.prod-color{
    opacity: 0;
    margin-top: -20px; /*margin을 음수로 주면 해당위치로 올라간다*/
    transition: opacity 0.5s ease-in-out;
    /*trasition : 변경할 옵션 , 주기 , 변경속도 , 딜레이초*/
}

.prod-list-nike:hover > .prod-color{
    
    opacity: 1;
    
}
.text-center{
    overflow: hidden;
    
}
.text-center button{
    float: right;
    padding: 4px 12px;
}

.pagination{margin: 0;}


/*==================LED마스크=====================*/

.led-info{
    margin-bottom: 100px;
}

.led-content{
    font-size: 25px;   
    margin-bottom: 10px;    
}

.led-price{
    font-size: 30px;
    padding: 15px 0px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.led-detail{
    margin: 0;
    font-size: 15px;
    color: #646464;
    font-weight: 100;
}   

.led-buy{
    overflow: hidden;
}

.left{
    font-size: 20px;
    display: block;
    float: left;
}

.right{
    font-size: 25px;
    font-style: inherit;
    display: block;
    float: right;
}
.btn-left{
    float: left;
    width: 50%;
    height: 50px;
    font-size: 20px;
    
}

.btn-right{
    float: right;
    width: 50%;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    background-color: rgb(15, 96, 189);
}

.led-btn{
    border: 1px solid rgb(172, 172, 172);
    box-sizing: border-box;
}

.reply-group{
    overflow: hidden;    
}

.reply-group input{
    width: 180px;
    margin-bottom: 10px;
}
.reply-wrap{
    background-color: #ececec;
    position: relative;
    padding:20px;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
}

.reply-img{
    position: absolute;
    top: 20px; left: 20px;
    
}

.reply-content{
    padding-left: 60px;
}

.reply-left{
    float: left;
}
.reply-right{
    float : right;    
}

/*text영역 리사이징 옵션, 애니메이션*/

.reply-content textarea{
    resize: vertical;
    height: 100px;
    transition: height 0.3s ease-in-out;
    margin-bottom: 10px;
    /*transition(변경할 속성, 몇초에 걸쳐 일어나는지 , 애니메이션방식, 딜레이시간)*/
}
.reply-content textarea:focus{
    height: 200px;
}


/*댓글 영역*/
.reply-content p{
    margin: 0;
}

.reply-group a{
   
    float: right;
    margin-right: 13px;
    color: #838383;
    text-decoration: none;
}
.reply-group a:hover{
    color: #4e4e4e;
}
.reply-group p{
   
    float: left;
}

    

/*=========================회원가입=======================*/

.join-form{
    
    float: none;/* col 클래스를 사용하는곳에 이 클래스 float none을 써줘야*/
    margin:0 auto;/*col관련 클래스가 float:left를 갖고있어서 반응형(col-sm-9..)을 쓸경우 중앙정렬이 안됩니다. */
   
    
}
.join-form form{
    
  border: 1px solid rgb(173, 173, 173);
  border-radius: 12px;
  box-shadow: 0px 10px 16px rgb(163, 163, 163);
  padding: 40px;
}

.title-box{
    width: 250px;
    margin: 60px auto;
    text-align: center;
    padding:20px 40px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
@media(max-width : 767px ){/*최대가로 767px 미만일때적용( col-xs가 동작하는 픽셀과 동일)*/
.join-form form{
    padding: 50px 10px;
}
}

/*=====================로그인======================*/


.login-form{
    float: none;
    margin: 0 auto;
   
}

.login-form form{
    border: 1px solid rgb(173, 173, 173);
    border-radius: 12px;
    box-shadow: 0px 10px 16px rgb(163, 163, 163);
    padding: 40px;
     
}

@media(max-width : 767px){
    .login-form form{
        padding: 50px 10px;        
    }
    
}


/*===================Tabs - bascic====================*/
.tabs-basic > li > a:hover{
    background-color: #dddddd;
}
.tabs-basic > li > a{
    color: #555555;
    margin: 0;
    text-align: center;
}
.tabs-basic > li{
    width: 25%;
}

/*===================Tabs - design====================*/